<h1>{{title}}</h1>

<input type="text" name="search" id="search" value="" size="50" placeholder="submit keyword" />
<button>Search</button>
<br />

<a href="/write">Write</a>
<br />

<div>
    <table>
        <thead>
            <tr>
                <th width="50%">Subject</th>
                <th>Writer</th>
                <th>Total</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Title</td>
                <td>Writer name</td>
                <td>99999</td>
                <td>2023.10.25</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <a>&lt;&lt;</a>
    <a>&lt;</a>
    <a>1</a>
    <a>2</a>
    <a>3</a>
    <a>4</a>
    <a>&gt;</a>
    <a>&gt;&gt;</a>
</div>