<h1>[{{title}}]Add subject</h1>

<div>
    <!-- Writing Form -->
    <form name="boardForm" method="post" action="/write">
        <!-- Title -->
        <div>
            <label>Title</label>
            <input type="text" name="title" placeholder="Typing title" value="" />
        </div>
        <!-- Writer name-->
        <div>
            <label>Writer</label>
            <input type="text" name="writer" placeholder="Typing name" value="" />
        </div>
        <!-- Password -->
        <div>
            <label>Password</label>
            <input type="password" name="password" placeholder="Typing password" />
        </div>
        <!--Typing text -->
        <div>
            <label>Typing Text</label><br />
            <textarea placeholder="Text" name="content" cols="50" rows="10"></textarea>
            <br />
            <!-- Button -->
            <div>
                <button type="submit">Save</button>
                <button type="button" onclick="location.href='/'">Cancer</button>
            </div>
        </div>
    </form>
</div>